html {
    font-size: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .theme-default {
        --color-text-base: #000;
        --color-text-darker: #b7b7b7;
        --color-text-bg: #cbcbcb;
    }
    .theme-red {
        --color-text-base: #cd2527;
        --color-text-darker: #ef6b6e;
        --color-text-bg: #ff7376;
    }
    .theme-yellow {
        --color-text-base: #fdbb23;
        --color-text-darker: #e4bf6a;
        --color-text-bg: #ffd473;
    }
}